* {
  /*outline: 1px solid #f00;*/
  box-sizing: border-box;
}

.grid {
  height: calc(100vh - 70px);
}

.grid > .row {
  height: 25%;
}

.grid > .row > div {
  /*display: flex;*/
  align-items: center;
  height: 100%;
  justify-content: center;
}




.text_input .word {
  float: left;
  padding-right: .5rem;
}

.text_input .syllable, .text_input .separator {
  width: auto;
  float: left;
}

.text_input .separator {
  color: red;
}


.capture_player {
  position: absolute;
  bottom: 0;
}